# Pandas

In [1]:
import pandas as pd
import numpy as np

## Series

In [2]:
# dictionaryからSeriesを作る
data = {
    'Name': 'Jone',
    'Sex': 'male',
    'Age': 22
}
pd.Series(data)

Name    Jone
Sex     male
Age       22
dtype: object

In [12]:
# NumOy Array から作成
array = np.array([22, 31, 42, 23])
age_series = pd.Series(array)
age_series

0    22
1    31
2    42
3    23
dtype: int64

In [14]:
age_series.values

array([22, 31, 42, 23])

In [15]:
# 統計量
age_series.mean()

29.5

In [8]:
array = np.array(['John', 'male', 22])
john_series = pd.Series(array, index=['Name', 'Sex', 'Age'])
john_series

Name    John
Sex     male
Age       22
dtype: object

In [10]:
john_series['Name']

'John'

## DataFrame
### pd.DataFrame()

In [16]:
# Numpy arrayから作成
ndarray = np.arange(10).reshape(2, 5)
ndarray

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [18]:
pd.DataFrame(ndarray, index = ['index1', 'index2'], columns = ['a', 'b', 'c', 'd', 'e'])

        a  b  c  d  e
index1  0  1  2  3  4
index2  5  6  7  8  9

In [19]:
# Dictionaryから作成
data1 = {
    'Name': 'Jone1',
    'Sex': 'female',
    'Age': 21
}
data2 = {
    'Name': 'Jone2',
    'Sex': 'male',
    'Age': 22
}
data3 = {
    'Name': 'Jone3',
    'Sex': 'male',
    'Age': 23
}
pd.DataFrame([data1, data2, data3])

    Name     Sex  Age
0  Jone1  female   21
1  Jone2    male   22
2  Jone3    male   23

In [24]:
# keyを毎回描かないといけないため、以下で簡略化した方が良い
data = {
    'Name': ['John1', 'john2', 'john3'],
    'Sex': ['male', 'female', 'male'],
    'Age': [21, 22, 23]    
}
# DataFrameは大きくなりがちなので、変数はdfを使って使い回すことが多い（df_xxなど複数作って保持している容量がない可能性がある）
df = pd.DataFrame(data)
df

    Name     Sex  Age
0  John1    male   21
1  john2  female   22
2  john3    male   23

### pd.read_csv()

In [6]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [7]:
len(df)

4803

In [8]:
len([1, 2, 3, 4])

4

In [33]:
# pythonでは日雨ようなデータだけ取得してくる。
# 全部のデータを取ってくることはあまりしないが省略しない形の指定も可能
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# df

In [9]:
# 最初の数行目だけ取得（よく使う）
df.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

### df.describe()
カラムの統計量を取得

In [10]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [11]:
type(df.describe())

pandas.core.frame.DataFrame

In [12]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [13]:
df['revenue']

0       2787965087
1        961000000
2        880674609
3       1084939099
4        284139100
           ...
4798       2040920
4799             0
4800             0
4801             0
4802             0
Name: revenue, Length: 4803, dtype: int64

In [14]:
type(df['revenue'])

pandas.core.series.Series

In [17]:
# 非推奨だが同じ結果が出力（カラム名にスペースがあったり、dataframeの関数と重複している場合など使えない為）
df.revenue

0       2787965087
1        961000000
2        880674609
3       1084939099
4        284139100
           ...
4798       2040920
4799             0
4800             0
4801             0
4802             0
Name: revenue, Length: 4803, dtype: int64

In [18]:
df[['revenue', 'original_title']]

         revenue                            original_title
0     2787965087                                    Avatar
1      961000000  Pirates of the Caribbean: At World's End
2      880674609                                   Spectre
3     1084939099                     The Dark Knight Rises
4      284139100                               John Carter
...          ...                                       ...
4798     2040920                               El Mariachi
4799           0                                 Newlyweds
4800           0                 Signed, Sealed, Delivered
4801           0                          Shanghai Calling
4802           0                         My Date with Drew

[4803 rows x 2 columns]

In [19]:
type(df)

pandas.core.frame.DataFrame

In [21]:
# indexを指定する
df.iloc[10]

budget                                                          270000000
genres                  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
homepage                                          http://www.superman.com
id                                                                   1452
keywords                [{"id": 83, "name": "saving the world"}, {"id"...
original_language                                                      en
original_title                                           Superman Returns
overview                Superman returns to discover his 5-year absenc...
popularity                                                        57.9256
production_companies    [{"name": "DC Comics", "id": 429}, {"name": "L...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2006-06-28
revenue                                                         391081192
runtime                                                               154
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                                               NaN
title                                                    Superman Returns
vote_average                                                          5.4
vote_count                                                           1400
Name: 10, dtype: object

In [22]:
df.iloc[10:20]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
11,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,"[{""id"": 627, ""name"": ""killing""}, {""id"": 1568, ...",en,Quantum of Solace,Quantum of Solace continues the adventures of ...,107.928811,"[{""name"": ""Eon Productions"", ""id"": 7576}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2008-10-30,586090727,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"For love, for hate, for justice, for revenge.",Quantum of Solace,6.1,2965
12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,"[{""id"": 616, ""name"": ""witch""}, {""id"": 663, ""na...",en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,145.847379,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""JM"", ""name"": ""Jamaica""}, {""is...",2006-06-20,1065659812,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Jack is back!,Pirates of the Caribbean: Dead Man's Chest,7.0,5246
13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-07-03,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311
14,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Man of Steel,A young boy learns that he has extraordinary p...,99.398009,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-12,662845518,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,You will believe that a man can fly.,Man of Steel,6.5,6359
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-25,1519557910,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948
18,225000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,"[{""id"": 4379, ""name"": ""time travel""}, {""id"": 5...",en,Men in Black 3,Agents J (Will Smith) and K (Tommy Lee Jones) ...,52.035179,"[{""name"": ""Amblin Entertainment"", ""id"": 56}, {...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-23,624026776,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They are back... in time.,Men in Black 3,6.2,4160
19,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 603...",en,The Hobbit: The Battle of the Five Armies,Immediately after the events of The Desolation...,120.965743,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2014-12-10,956019788,144.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Witness the defining chapter of the Middle-Ear...,The Hobbit: The Battle of the Five Armies,7.1,4760

In [23]:
# カラムが数字で、indexが文字列の場合
ndarray = np.arange(25).reshape(5, 5)
index = ['a', 'b', 'c', 'd', 'e']
columns = [0, 1, 2, 3, 4]
df = pd.DataFrame(ndarray, index=index, columns=columns)
df

    0   1   2   3   4
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24

In [24]:
df[0]

a     0
b     5
c    10
d    15
e    20
Name: 0, dtype: int64

In [25]:
# indexが文字列の場合、ilocではなくloc
df.loc['b']

0    5
1    6
2    7
3    8
4    9
Name: b, dtype: int64

In [28]:
# 新しいシリーズの代入
s = pd.Series([100, 100, 100, 100, 100], index=['a', 'b', 'c', 'd', 'e'])
df[0] = s
df

     0   1   2   3   4
a  100   1   2   3   4
b  100   6   7   8   9
c  100  11  12  13  14
d  100  16  17  18  19
e  100  21  22  23  24

In [29]:
# 追加
df[5] = s
df

     0   1   2   3   4    5
a  100   1   2   3   4  100
b  100   6   7   8   9  100
c  100  11  12  13  14  100
d  100  16  17  18  19  100
e  100  21  22  23  24  100

In [30]:
### .drop
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [32]:
# indexを指定して落とす
df.drop(0)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [37]:
# カラムを落とす(axis=0だとインデックス、1だとカラム、inplace=Trueで元のdfを更新)
df.drop('genres', axis=1, inplace=True)
df

,budget,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,http://movies.disney.com/john-carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,NaN,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,NaN,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,http://www.hallmarkchannel.com/signedsealeddel...,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,http://shanghaicalling.com/,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,NaN,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [42]:
# 一般的な書き方はこちら
df = df.drop(1)
df

,budget,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2,245000000,http://www.sonypictures.com/movies/spectre/,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,http://www.thedarkknightrises.com/,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,http://movies.disney.com/john-carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,http://www.sonypictures.com/movies/spider-man3/,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,http://disney.go.com/disneypictures/tangled/,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,NaN,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,NaN,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,http://www.hallmarkchannel.com/signedsealeddel...,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,http://shanghaicalling.com/,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,NaN,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

### DataFrameのFilter

In [43]:
data = {
    'Name': ['John1', 'john2', 'john3'],
    'Sex': ['male', 'female', 'male'],
    'Age': [21, 22, 23]    
}
df = pd.DataFrame(data)
df

    Name     Sex  Age
0  John1    male   21
1  john2  female   22
2  john3    male   23

In [44]:
# Trueの行が返ってくる
df[[True, False, True]]

    Name   Sex  Age
0  John1  male   21
2  john3  male   23

In [47]:
filter_series = pd.Series([True, False, True])
df[filter_series]

    Name   Sex  Age
0  John1  male   21
2  john3  male   23

In [51]:
# 実際の使い方
filter_s = df['Age'] >= 22
filter_s

0    False
1     True
2     True
Name: Age, dtype: bool

In [52]:
df[filter_s]

    Name     Sex  Age
1  john2  female   22
2  john3    male   23

In [53]:
df[df['Age'] >= 22]

    Name     Sex  Age
1  john2  female   22
2  john3    male   23

In [58]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df[df['original_language']=='ja']

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
97,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1471,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,崖の上のポニョ,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
1709,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,192577,[],ja,キャプテンハーロック,Space Pirate Captain Harlock and his fearless ...,14.726338,"[{""name"": ""Toei Animation Company"", ""id"": 3116}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
1987,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
2247,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,もののけ姫,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
2258,20000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 14, ""...",NaN,8953,"[{""id"": 392, ""name"": ""england""}, {""id"": 1436, ...",ja,Steamboy,After receiving a package from his Grandfather...,9.129808,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-07-17,0,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He will save the future.,Steamboy,6.4,102
2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
2888,12000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.office-kitano.co.jp/brother/index.html,327,"[{""id"": 380, ""name"": ""brother brother relation...",ja,Brother,A Japanese Yakuza gangster’s deadly existence ...,5.327714,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-09-09,15250000,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Are You Japanese?,Brother,6.8,107
2900,12000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,61984,[],ja,Space Battleship Yamato,"In 2199, five years after the Gamilons began a...",5.158067,"[{""name"": ""Tokyo Broadcasting System (TBS)"", ""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2010-12-01,11212294,131.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Battleship Yamato,6.3,59
2908,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13889,[],ja,まあだだよ,This film tells the story of professor Uehida ...,2.930853,"[{""name"": ""Tokuma Shoten"", ""id"": 1779}, {""name...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1993-04-17,0,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madadayo,7.5,20
3296,8000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.bandaivisual.co.jp/akira/,149,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",ja,アキラ,Childhood friends Tetsuo and Kaneda are pulled...,39.338097,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1988-07-16,553171,124.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,7.8,773
3542,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.r-100.com/,193722,"[{""id"": 7089, ""name"": ""dominatrix""}, {""id"": 15...",ja,R100,Ruthless dominatrixes pursue a mild-mannered s...,3.213920,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-10-05,0,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,M For Father,R100,5.4,31
3901,16000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://movies.warnerbros.com/pk3/,10991,"[{""id"": 1262, ""name"": ""mountains""}, {""id"": 280...",ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,9.188850,"[{""name"": ""TV Tokyo"", ""id"": 3034}, {""name"": ""4...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2000-07-08,68411275,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,5.9,137
4344,1000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,10643,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1299, ""n...",ja,Gojira ni-sen mireniamu,Godzilla saves Tokyo from a flying saucer that...,3.322721,"[{""name"": ""Toho Film (Eiga) Co. Ltd."", ""id"": 6...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1999-12-11,10037390,107.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Get ready to crumble.,Godzilla 2000,5.9,43
4535,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,七人の侍,A samurai answers a village's request for prot...,39.756748,"[{""name"": ""Toho Company"", ""id"": 882}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878
4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63

In [59]:
# 複数の条件をつけるときはカッコで&か|
df[(df['original_language'] == 'ja') & (df['vote_average'] > 8)]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1987,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
2247,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,もののけ姫,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
4535,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,七人の侍,A samurai answers a village's request for prot...,39.756748,"[{""name"": ""Toho Company"", ""id"": 882}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878

In [61]:
# 予算0もしくは売り上げが0のもの（おそらく欠損地なので確認する）
df[(df['budget'] == 0) | (df['revenue'] == 0)]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
83,27000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,79698,[],en,The Lovers,The Lovers is an epic romance time travel adve...,2.418535,"[{""name"": ""Corsan"", ""id"": 7299}, {""name"": ""Bli...","[{""iso_3166_1"": ""AU"", ""name"": ""Australia""}, {""...",2015-02-13,0,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Love is longer than life.,The Lovers,4.8,34
135,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549
265,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 14, ""nam...",NaN,10588,"[{""id"": 977, ""name"": ""cat""}, {""id"": 1155, ""nam...",en,The Cat in the Hat,Conrad and Sally Walden are home alone with th...,18.251129,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-11-21,0,82.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Don't mess with the hat.,The Cat in the Hat,4.9,366
309,84000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 35, ""na...",NaN,10214,"[{""id"": 1009, ""name"": ""baby""}, {""id"": 2546, ""n...",en,Son of the Mask,"Tim Avery, an aspiring cartoonist, finds himse...",17.815595,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",2005-02-18,0,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Who's next?,Son of the Mask,3.6,338
321,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,77953,"[{""id"": 6078, ""name"": ""politics""}, {""id"": 6083...",en,The Campaign,Two rival politicians compete to win an electi...,16.460356,"[{""name"": ""Everyman Pictures"", ""id"": 2242}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-08-09,104907746,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,May The Best Loser Win.,The Campaign,5.6,578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,[],en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,[],[],2005-03-12,0,80.0,[],Released,NaN,Cavite,7.5,2
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

### ~でNOT演算

In [62]:
# 予算も売り上げも0ではないもの
df[~((df['budget'] == 0) | (df['revenue'] == 0))]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4788,12000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1972-03-12,6000000,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,An exercise in poor taste.,Pink Flamingos,6.2,110
4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238

In [66]:
data =[{'id': 'a', 'bool': True},
       {'id': 'b', 'bool': False},
       {'id': 'c', 'bool': True}]
df = pd.DataFrame(data)
df['bool']

0     True
1    False
2     True
Name: bool, dtype: bool

In [67]:
df[~df['bool']]

  id   bool
1  b  False

## Index操作
### .reset_index()で再度indexを割り振る

In [69]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df = df[df['original_language']=='ja']
df.reset_index()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,97,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1,1471,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,崖の上のポニョ,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
2,1709,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,192577,[],ja,キャプテンハーロック,Space Pirate Captain Harlock and his fearless ...,14.726338,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
3,1987,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",49.549984,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
4,2247,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,もののけ姫,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
5,2258,20000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 14, ""...",NaN,8953,"[{""id"": 392, ""name"": ""england""}, {""id"": 1436, ...",ja,Steamboy,After receiving a package from his Grandfather...,9.129808,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-07-17,0,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He will save the future.,Steamboy,6.4,102
6,2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
7,2888,12000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.office-kitano.co.jp/brother/index.html,327,"[{""id"": 380, ""name"": ""brother brother relation...",ja,Brother,A Japanese Yakuza gangster’s deadly existence ...,5.327714,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-09-09,15250000,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Are You Japanese?,Brother,6.8,107
8,2900,12000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,61984,[],ja,Space Battleship Yamato,"In 2199, five years after the Gamilons began a...",5.158067,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2010-12-01,11212294,131.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Battleship Yamato,6.3,59
9,2908,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13889,[],ja,まあだだよ,This film tells the story of professor Uehida ...,2.930853,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1993-04-17,0,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madadayo,7.5,20
10,3296,8000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.bandaivisual.co.jp/akira/,149,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",ja,アキラ,Childhood friends Tetsuo and Kaneda are pulled...,39.338097,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1988-07-16,553171,124.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,7.8,773
11,3542,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.r-100.com/,193722,"[{""id"": 7089, ""name"": ""dominatrix""}, {""id"": 15...",ja,R100,Ruthless dominatrixes pursue a mild-mannered s...,3.213920,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-10-05,0,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,M For Father,R100,5.4,31
12,3901,16000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://movies.warnerbros.com/pk3/,10991,"[{""id"": 1262, ""name"": ""mountains""}, {""id"": 280...",ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,9.188850,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2000-07-08,68411275,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,5.9,137
13,4344,1000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,10643,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1299, ""n...",ja,Gojira ni-sen mireniamu,Godzilla saves Tokyo from a flying saucer that...,3.322721,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1999-12-11,10037390,107.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Get ready to crumble.,Godzilla 2000,5.9,43
14,4535,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,七人の侍,A samurai answers a village's request for prot...,39.756748,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878
15,4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63

In [70]:
# 落としてしまう場合
df.reset_index(drop=True)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,崖の上のポニョ,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
2,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,192577,[],ja,キャプテンハーロック,Space Pirate Captain Harlock and his fearless ...,14.726338,"[{""name"": ""Toei Animation Company"", ""id"": 3116}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
3,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",49.549984,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
4,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,もののけ姫,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
5,20000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 14, ""...",NaN,8953,"[{""id"": 392, ""name"": ""england""}, {""id"": 1436, ...",ja,Steamboy,After receiving a package from his Grandfather...,9.129808,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-07-17,0,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He will save the future.,Steamboy,6.4,102
6,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
7,12000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.office-kitano.co.jp/brother/index.html,327,"[{""id"": 380, ""name"": ""brother brother relation...",ja,Brother,A Japanese Yakuza gangster’s deadly existence ...,5.327714,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-09-09,15250000,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Are You Japanese?,Brother,6.8,107
8,12000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,61984,[],ja,Space Battleship Yamato,"In 2199, five years after the Gamilons began a...",5.158067,"[{""name"": ""Tokyo Broadcasting System (TBS)"", ""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2010-12-01,11212294,131.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Battleship Yamato,6.3,59
9,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13889,[],ja,まあだだよ,This film tells the story of professor Uehida ...,2.930853,"[{""name"": ""Tokuma Shoten"", ""id"": 1779}, {""name...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1993-04-17,0,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madadayo,7.5,20
10,8000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.bandaivisual.co.jp/akira/,149,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",ja,アキラ,Childhood friends Tetsuo and Kaneda are pulled...,39.338097,"[{""name"": ""Bandai Visual Company"", ""id"": 528},...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1988-07-16,553171,124.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,7.8,773
11,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.r-100.com/,193722,"[{""id"": 7089, ""name"": ""dominatrix""}, {""id"": 15...",ja,R100,Ruthless dominatrixes pursue a mild-mannered s...,3.213920,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-10-05,0,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,M For Father,R100,5.4,31
12,16000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://movies.warnerbros.com/pk3/,10991,"[{""id"": 1262, ""name"": ""mountains""}, {""id"": 280...",ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,9.188850,"[{""name"": ""TV Tokyo"", ""id"": 3034}, {""name"": ""4...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2000-07-08,68411275,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,5.9,137
13,1000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,10643,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1299, ""n...",ja,Gojira ni-sen mireniamu,Godzilla saves Tokyo from a flying saucer that...,3.322721,"[{""name"": ""Toho Film (Eiga) Co. Ltd."", ""id"": 6...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1999-12-11,10037390,107.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Get ready to crumble.,Godzilla 2000,5.9,43
14,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,七人の侍,A samurai answers a village's request for prot...,39.756748,"[{""name"": ""Toho Company"", ""id"": 882}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878
15,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63

In [72]:
# こういう書き方もOK
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df[df['original_language']=='ja'].reset_index()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,97,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,315011,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
1,1471,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,12429,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,崖の上のポニョ,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
2,1709,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,192577,[],ja,キャプテンハーロック,Space Pirate Captain Harlock and his fearless ...,14.726338,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356
3,1987,24000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",NaN,4935,"[{""id"": 334, ""name"": ""flying""}, {""id"": 616, ""n...",ja,ハウルの動く城,"When Sophie, a shy young woman, is cursed with...",49.549984,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-11-19,234710455,119.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The two lived there,Howl's Moving Castle,8.2,1991
4,2247,26500000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",NaN,128,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 1994, ""...",ja,もののけ姫,"Ashitaka, a prince of the disappearing Ainu tr...",60.732738,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-07-12,159375308,134.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Fate Of The World Rests On The Courage Of ...,Princess Mononoke,8.2,1983
5,2258,20000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 14, ""...",NaN,8953,"[{""id"": 392, ""name"": ""england""}, {""id"": 1436, ...",ja,Steamboy,After receiving a package from his Grandfather...,9.129808,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2004-07-17,0,126.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He will save the future.,Steamboy,6.4,102
6,2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
7,2888,12000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.office-kitano.co.jp/brother/index.html,327,"[{""id"": 380, ""name"": ""brother brother relation...",ja,Brother,A Japanese Yakuza gangster’s deadly existence ...,5.327714,...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-09-09,15250000,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Are You Japanese?,Brother,6.8,107
8,2900,12000000,"[{""id"": 878, ""name"": ""Science Fiction""}]",NaN,61984,[],ja,Space Battleship Yamato,"In 2199, five years after the Gamilons began a...",5.158067,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2010-12-01,11212294,131.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Battleship Yamato,6.3,59
9,2908,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13889,[],ja,まあだだよ,This film tells the story of professor Uehida ...,2.930853,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1993-04-17,0,134.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Madadayo,7.5,20
10,3296,8000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.bandaivisual.co.jp/akira/,149,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",ja,アキラ,Childhood friends Tetsuo and Kaneda are pulled...,39.338097,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1988-07-16,553171,124.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Neo-Tokyo is about to E.X.P.L.O.D.E.,Akira,7.8,773
11,3542,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.r-100.com/,193722,"[{""id"": 7089, ""name"": ""dominatrix""}, {""id"": 15...",ja,R100,Ruthless dominatrixes pursue a mild-mannered s...,3.213920,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-10-05,0,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,M For Father,R100,5.4,31
12,3901,16000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://movies.warnerbros.com/pk3/,10991,"[{""id"": 1262, ""name"": ""mountains""}, {""id"": 280...",ja,Pokémon 3: The Movie,When Molly Hale's sadness of her father's disa...,9.188850,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2000-07-08,68411275,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pokémon: Spell of the Unknown,Pokémon: Spell of the Unknown,5.9,137
13,4344,1000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 27, ""...",NaN,10643,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1299, ""n...",ja,Gojira ni-sen mireniamu,Godzilla saves Tokyo from a flying saucer that...,3.322721,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1999-12-11,10037390,107.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Get ready to crumble.,Godzilla 2000,5.9,43
14,4535,2000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,346,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",ja,七人の侍,A samurai answers a village's request for prot...,39.756748,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1954-04-26,271841,207.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The Mighty Warriors Who Became the Seven Natio...,Seven Samurai,8.2,878
15,4792,20000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,...,"[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,99000,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63

### .set_index()

In [75]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df = df[df['original_language']=='ja']
df = df.set_index('id')
df.head(3)

,budget,genres,homepage,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,
315011,15000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 7671,...",ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,"[{""name"": ""Cine Bazar"", ""id"": 5896}, {""name"": ...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2016-07-29,77000000,120.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143
12429,41677699,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,"[{""id"": 456, ""name"": ""mother""}, {""id"": 1357, ""...",ja,崖の上のポニョ,"The son of a sailor, 5-year old Sosuke lives a...",39.586760,"[{""name"": ""Studio Ghibli"", ""id"": 10342}, {""nam...","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2008-07-19,187479518,100.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Welcome To A World Where Anything Is Possible.,Ponyo,7.5,926
192577,30000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 878, ...",NaN,[],ja,キャプテンハーロック,Space Pirate Captain Harlock and his fearless ...,14.726338,"[{""name"": ""Toei Animation Company"", ""id"": 3116}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2013-09-07,17137302,115.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,NaN,Space Pirate Captain Harlock,6.5,356

# DataFrameのNaNの扱い

In [77]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
a = df.iloc[-1]['homepage']
np.isnan(a)

True

In [78]:
np.nan

nan

## .dropna()

In [80]:
# naを含むレコードを排除
df.dropna()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3151130,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4781,22000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",https://www.facebook.com/DrySpellMovie,255266,"[{""id"": 13043, ""name"": ""dating""}, {""id"": 15160...",en,Dry Spell,Sasha tries to get her soon-to-be ex husband K...,0.048948,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-02-14,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Getting divorced does funny things to a girl,Dry Spell,6.0,1
4791,13,"[{""id"": 27, ""name"": ""Horror""}]",http://tincanmanthemovie.com/,157185,"[{""id"": 14903, ""name"": ""home invasion""}]",en,Tin Can Man,Recently dumped by his girlfirend for another ...,0.332679,"[{""name"": ""Park Films"", ""id"": 21871}, {""name"":...","[{""iso_3166_1"": ""IE"", ""name"": ""Ireland""}]",2007-01-01,0,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Everything You've Heard is True,Tin Can Man,2.0,1
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7

In [81]:
# 特定のカラムがnaのものを取得
df[np.isnan(df['runtime'])]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2656,15000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,370980,"[{""id"": 717, ""name"": ""pope""}, {""id"": 5565, ""na...",it,Chiamatemi Francesco - Il Papa della gente,NaN,0.738646,"[{""name"": ""Taodue Film"", ""id"": 45724}]","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}]",2015-12-03,0,NaN,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,NaN,Chiamatemi Francesco - Il Papa della gente,7.3,12
4140,2,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,459488,"[{""id"": 6027, ""name"": ""music""}, {""id"": 225822,...",en,"To Be Frank, Sinatra at 100",NaN,0.050625,"[{""name"": ""Eyeline Entertainment"", ""id"": 60343}]","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2015-12-12,0,NaN,[],Released,NaN,"To Be Frank, Sinatra at 100",0.0,0

In [82]:
# 特定のカラムがnaを削除
df.dropna(subset=['runtime'])

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [85]:
# 行で確認する
# 全体 - 排除後 = 排除したカラム数
len(df) - len(df.dropna(subset=['runtime']))

2

## .fillna()

In [86]:
# na だった2行のruntime列に全体の平均値を入れる
# まずは全体の平均値を取得
df['runtime'].mean()

106.87585919600083

In [88]:
# 代入
df['runtime'] = df['runtime'].fillna(df['runtime'].mean())

In [89]:
# naが存在しないことを確認
df[np.isnan(df['runtime'])]

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

## .isna()

In [90]:
df['homepage'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4798     True
4799     True
4800    False
4801    False
4802     True
Name: homepage, Length: 4803, dtype: bool

In [95]:
# これも同じ結果
pd.isna(df['homepage'])

0       False
1       False
2       False
3       False
4       False
        ...
4798     True
4799     True
4800    False
4801    False
4802     True
Name: homepage, Length: 4803, dtype: bool

In [92]:
# df[np.isnan(df['runtime'])]と同じ結果
df[df['homepage'].isna()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,The Chronicles of Narnia: Prince Caspian,One year after their incredible adventures in ...,53.978602,"[{""name"": ""Walt Disney"", ""id"": 5888}, {""name"":...","[{""iso_3166_1"": ""CZ"", ""name"": ""Czech Republic""...",2008-05-15,419651413,150.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Hope has a new face.,The Chronicles of Narnia: Prince Caspian,6.3,1630
24,207000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,"[{""id"": 774, ""name"": ""film business""}, {""id"": ...",en,King Kong,"In 1933 New York, an overly ambitious movie pr...",61.226010,"[{""name"": ""WingNut Films"", ""id"": 11}, {""name"":...","[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",2005-12-14,550000000,187.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The eighth wonder of the world.,King Kong,6.6,2337
27,209000000,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,"[{""id"": 1721, ""name"": ""fight""}, {""id"": 4410, ""...",en,Battleship,"When mankind beams a radio signal into space, ...",64.928382,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-04-11,303025485,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The Battle for Earth Begins at Sea,Battleship,5.5,2114
33,210000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,36668,"[{""id"": 1852, ""name"": ""mutant""}, {""id"": 8828, ...",en,X-Men: The Last Stand,"When a cure is found to treat mutations, lines...",3.857526,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2006-05-24,459359555,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Take a Stand,X-Men: The Last Stand,6.3,3525
34,200000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,62211,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 5984,...",en,Monsters University,A look at the relationship between Mike and Su...,89.186492,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-06-20,743559607,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,School never looked this scary.,Monsters University,7.0,3528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,124606,"[{""id"": 10726, ""name"": ""gang""}, {""id"": 33928, ...",en,Bang,A young woman in L.A. is having a bad day: she...,0.918116,"[{""name"": ""Asylum Films"", ""id"": 10571}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-09-09,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Sometimes you've got to break the rules,Bang,6.0,1
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,[],en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,[],[],2005-03-12,0,80.0,[],Released,NaN,Cavite,7.5,2
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [93]:
# 新しいシリーズを追加して、NaNのフラグに使ったりする
df['homepage_Nan'] = df['homepage'].isna()

In [94]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,homepage_Nan
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,False
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,False
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,False
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,False
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,True
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,True
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,False
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,False
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,True

## gropuby

In [97]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [100]:
df.groupby('original_language').mean().loc['ja']

budget          1.429361e+07
id              5.389425e+04
popularity      2.566379e+01
revenue         6.602892e+07
runtime         1.225000e+02
vote_average    7.050000e+00
vote_count      7.157500e+02
Name: ja, dtype: float64

In [104]:
# 別の方法で確認する
df[df['original_language'] == 'ja']['budget']

97      15000000
1471    41677699
1709    30000000
1987    24000000
2247    26500000
2258    20000000
2294    15000000
2888    12000000
2900    12000000
2908           0
3296     8000000
3542     5500000
3901    16000000
4344     1000000
4535     2000000
4792       20000
Name: budget, dtype: int64

In [102]:
# 0のレコードを除く
df[df['budget'] != 0].groupby('original_language').mean().loc['ja']

budget          1.524651e+07
id              5.656127e+04
popularity      2.717932e+01
revenue         7.043084e+07
runtime         1.217333e+02
vote_average    7.020000e+00
vote_count      7.621333e+02
Name: ja, dtype: float64

In [109]:
# budgetが0の言語をカウント
df[df['budget'] == 0].groupby('original_language').count()['budget']

original_language
ar      2
cn      5
cs      2
da      1
de     11
el      1
en    921
es      8
fa      2
fr     31
he      2
hi     10
hu      1
it      6
ja      1
ko      4
ky      1
nl      1
pt      6
ro      1
ru      3
sl      1
sv      4
ta      2
th      1
zh      9
Name: budget, dtype: int64

In [111]:
# groupbyのdescribeでそれぞれのカラムの統計値を表示
df.groupby('original_language').describe()

                   budget                                                      \
                    count          mean           std         min         25%
original_language
af                    1.0  3.000000e+06           NaN   3000000.0   3000000.0
ar                    2.0  0.000000e+00  0.000000e+00         0.0         0.0
cn                   12.0  1.072641e+07  1.245921e+07         0.0         0.0
cs                    2.0  0.000000e+00  0.000000e+00         0.0         0.0
da                    7.0  9.742857e+06  1.207834e+07         0.0   2550000.0
de                   27.0  8.616354e+06  1.910675e+07         0.0         0.0
el                    1.0  0.000000e+00           NaN         0.0         0.0
en                 4505.0  3.039436e+07  4.150614e+07         0.0   1000000.0
es                   32.0  5.847683e+06  8.443275e+06         0.0    165000.0
fa                    4.0  2.450000e+05  3.796051e+05         0.0         0.0
fr                   70.0  8.480997e+06  1.568539e+07         0.0         0.0
he                    3.0  6.666667e+05  1.154701e+06         0.0         0.0
hi                   19.0  1.715789e+06  2.749447e+06         0.0         0.0
hu                    1.0  0.000000e+00           NaN         0.0         0.0
id                    2.0  1.050000e+06  7.071068e+04   1000000.0   1025000.0
is                    1.0  1.000000e+01           NaN        10.0        10.0
it                   14.0  2.967859e+06  5.049660e+06         0.0         0.0
ja                   16.0  1.429361e+07  1.194324e+07         0.0   4625000.0
ko                   11.0  1.429091e+07  2.177179e+07         0.0         0.0
ky                    1.0  0.000000e+00           NaN         0.0         0.0
nb                    1.0  3.500000e+06           NaN   3500000.0   3500000.0
nl                    4.0  7.375000e+06  9.303897e+06         0.0   3000000.0
no                    1.0  8.000000e+05           NaN    800000.0    800000.0
pl                    1.0  2.159280e+06           NaN   2159280.0   2159280.0
ps                    1.0  4.600000e+04           NaN     46000.0     46000.0
pt                    9.0  1.133333e+06  1.722643e+06         0.0         0.0
ro                    2.0  4.262550e+05  6.028156e+05         0.0    213127.5
ru                   11.0  1.397273e+07  1.351030e+07         0.0   2100000.0
sl                    1.0  0.000000e+00           NaN         0.0         0.0
sv                    5.0  5.000000e+06  1.118034e+07         0.0         0.0
ta                    2.0  0.000000e+00  0.000000e+00         0.0         0.0
te                    1.0  4.000000e+07           NaN  40000000.0  40000000.0
th                    3.0  4.833333e+06  4.368447e+06         0.0   3000000.0
tr                    1.0  1.000000e+07           NaN  10000000.0  10000000.0
vi                    1.0  1.300000e+06           NaN   1300000.0   1300000.0
xx                    1.0  1.200000e+07           NaN  12000000.0  12000000.0
zh                   27.0  2.202560e+07  2.725664e+07         0.0         0.0

                                                            id                 \
                          50%         75%          max   count           mean
original_language
af                  3000000.0   3000000.0    3000000.0     1.0     868.000000
ar                        0.0         0.0          0.0     2.0   83505.000000
cn                  6000000.0  20750000.0   36000000.0    12.0  109470.500000
cs                        0.0         0.0          0.0     2.0  185196.000000
da                  6500000.0  10800000.0   35000000.0     7.0   33440.714286
de                  1500000.0   6250000.0   92620000.0    27.0   63369.518519
el                        0.0         0.0          0.0     1.0   38810.000000
en                 15000000.0  40000000.0  380000000.0  4505.0   55788.758047
es                  2000000.0   6200000.0   35000000.0    32.0   73720.937500
fa                    90000.0    335000.0     800000.0     4.0   38974.000000
fr                  1672000.0  10000000.0   97250400.0    70.0   62312.171429
he                        0.0   1000000.0    2000000.0     3.0   16428.333333
hi                        0.0   1725000.0    7700000.0    19.0   86905.526316
hu                        0.0         0.0          0.0     1.0   41508.000000
id                  1050000.0   1075000.0    1100000.0     2.0  109003.500000
is                       10.0        10.0         10.0     1.0  217708.000000
it                   100015.0   4050000.0   15000000.0    14.0   64481.857143
ja                 13500000.0  21000000.0   41677699.0    16.0   53894.250000
ko                  8000000.0  13500000.0   70000000.0    11.0   82569.545455
ky                        0.0         0.0          0.0     1.0  295914.000000
nb                  3500000.0   3500000.0    3500000.0     1.0   46146.000000
nl                  4250000.0   8625000.0   21000000.0     4.0   12169.500000
no                   800000.0    800000.0     800000.0     1.0   14451.000000
pl                  2159280.0   2159280.0    2159280.0     1.0  209274.000000
ps                    46000.0     46000.0      46000.0     1.0   14757.000000
pt                        0.0   2900000.0    4000000.0     9.0  136400.444444
ro                   426255.0    639382.5     852510.0     2.0  173237.500000
ru                  7000000.0  25500000.0   36500000.0    11.0  105219.000000
sl                        0.0         0.0          0.0     1.0  385636.000000
sv                        0.0         0.0   25000000.0     5.0   13241.200000
ta                        0.0         0.0          0.0     2.0  270824.500000
te                 40000000.0  40000000.0   40000000.0     1.0  256040.000000
th                  6000000.0   7250000.0    8500000.0     3.0   17554.666667
tr                 10000000.0  10000000.0   10000000.0     1.0   11818.000000
vi                  1300000.0   1300000.0    1300000.0     1.0   25784.000000
xx                 12000000.0  12000000.0   12000000.0     1.0   62204.000000
zh                 12000000.0  35500000.0   94000000.0    27.0  107819.222222

                   ... vote_average       vote_count                           \
                   ...          75%   max      count        mean          std
original_language  ...
af                 ...        6.900   6.9        1.0   94.000000          NaN
ar                 ...        7.550   7.8        2.0   53.500000     2.121320
cn                 ...        6.700   7.2       12.0  220.916667   243.485470
cs                 ...        6.325   7.0        2.0   12.000000    14.142136
da                 ...        7.750   7.9        7.0  450.428571   434.369987
de                 ...        7.400   8.0       27.0  242.444444   331.373637
el                 ...        6.900   6.9        1.0  332.000000          NaN
en                 ...        6.800  10.0     4505.0  719.023751  1263.358181
es                 ...        7.225   7.8       32.0  301.875000   549.329430
fa                 ...        7.725   7.8        4.0  155.250000   213.629547
fr                 ...        7.100   7.9       70.0  228.828571   414.528018
he                 ...        7.700   7.8        3.0  112.666667   154.480851
hi                 ...        7.200   7.4       19.0   44.000000    51.944415
hu                 ...        6.500   6.5        1.0   28.000000          NaN
id                 ...        7.450   7.5        2.0  632.500000   597.505230
is                 ...        6.900   6.9        1.0   26.000000          NaN
it                 ...        7.525   8.1       14.0  403.928571   661.484050
ja                 ...        7.900   8.3       16.0  715.750000  1060.489101
ko                 ...        7.300   8.0       11.0  588.818182   930.690799
ky                 ...        0.000   0.0        1.0    0.000000          NaN
nb                 ...        6.700   6.7        1.0  583.000000          NaN
nl                 ...        7.325   7.7        4.0   92.750000   125.577002
no                 ...        6.100   6.1        1.0  311.000000          NaN
pl                 ...        7.100   7.1        1.0  260.000000          NaN
ps                 ...        6.300   6.3        1.0   32.000000          NaN
pt                 ...        7.800   8.1        9.0  321.444444   582.814746
ro                 ...        5.475   7.3        2.0   78.000000   110.308658
ru                 ...        7.000   7.7       11.0   95.181818   108.164521
sl                 ...        6.000   6.0        1.0    1.000000          NaN
sv                 ...        7.700   7.8        5.0   87.000000    39.401777
ta                 ...        6.275   6.7        2.0    4.000000     1.414214
te                 ...        7.500   7.5        1.0  135.000000          NaN
th                 ...        6.400   6.8        3.0  108.333333    88.940055
tr                 ...        4.300   4.3        1.0    7.000000          NaN
vi                 ...        5.000   5.0        1.0    1.000000          NaN
xx                 ...        7.100   7.1        1.0  109.000000          NaN
zh                 ...        7.000   7.6       27.0  146.592593   213.453699


                     min     25%    50%     75%      max
original_language
af                  94.0   94.00   94.0   94.00     94.0
ar                  52.0   52.75   53.5   54.25     55.0
cn                   5.0   54.25  121.0  276.25    831.0
cs                   2.0    7.00   12.0   17.00     22.0
da                  65.0   73.00  207.0  904.00    927.0
de                   3.0   17.50   61.0  420.50   1037.0
el                 332.0  332.00  332.0  332.00    332.0
en                   0.0   58.00  251.0  788.00  13752.0
es                   4.0   27.50  177.5  309.75   3041.0
fa                  17.0   21.50   67.5  201.25    469.0
fr                   0.0   32.00  134.5  284.50   3310.0
he                  20.0   23.50   27.0  159.00    291.0
hi                   0.0    8.00   29.0   60.50    221.0
hu                  28.0   28.00   28.0   28.00     28.0
id                 210.0  421.25  632.5  843.75   1055.0
is                  26.0   26.00   26.0   26.00     26.0
it                   6.0   20.00  108.5  571.75   2311.0
ja                  20.0   62.00  140.0  890.00   3840.0
ko                  28.0   76.00  193.0  446.50   2854.0
ky                   0.0    0.00    0.0    0.00      0.0
nb                 583.0  583.00  583.0  583.00    583.0
nl                   3.0   19.50   45.5  118.75    277.0
no                 311.0  311.00  311.0  311.00    311.0
pl                 260.0  260.00  260.0  260.00    260.0
ps                  32.0   32.00   32.0   32.00     32.0
pt                   0.0    9.00  126.0  242.00   1814.0
ro                   0.0   39.00   78.0  117.00    156.0
ru                   7.0   23.00   47.0  129.00    357.0
sl                   1.0    1.00    1.0    1.00      1.0
sv                  42.0   63.00   76.0  115.00    139.0
ta                   3.0    3.50    4.0    4.50      5.0
te                 135.0  135.00  135.0  135.00    135.0
th                   6.0   79.00  152.0  159.50    167.0
tr                   7.0    7.00    7.0    7.00      7.0
vi                   1.0    1.00    1.0    1.00      1.0
xx                 109.0  109.00  109.0  109.00    109.0
zh                   3.0   23.00   55.0  195.00    927.0

[37 rows x 56 columns]

In [113]:
df.groupby('original_language').describe()['revenue'].head(1)

,count,mean,std,min,25%,50%,75%,max
original_language,,,,,,,,
af,1.0,9879971.0,NaN,9879971.0,9879971.0,9879971.0,9879971.0,9879971.0

In [114]:
df.groupby('original_language')['revenue'].max()

original_language
af       9879971
ar             0
cn     156844753
cs             0
da     170000000
de      92180910
el        110197
en    2787965087
es      99067206
fa        900000
fr     173921954
he      11125849
hi      46000000
hu             0
id       4105187
is            11
it      14500000
ja     274925095
ko      88489643
ky             0
nb       4159678
nl      26193068
no       1984662
pl      10700000
ps             0
pt      30641770
ro       1185783
ru      32000000
sl             0
sv             0
ta             0
te     100000000
th      27165581
tr             0
vi        639000
xx      55260558
zh     213525736
Name: revenue, dtype: int64

In [115]:
# revenuがmaxの値のインデックス
df.groupby('original_language')['revenue'].idxmax()

original_language
af    3936
ar    4164
cn    1357
cs    2906
da    4586
de    2724
el    4605
en       0
es    3562
fa    4695
fr    1260
he    4104
hi    3228
hu    2894
id    4326
is    3131
it    4672
ja    2294
ko    2877
ky    4275
nb    3845
nl    2052
no    4464
pl    3999
ps    4523
pt    3866
ro    4434
ru    3733
sl    4510
sv    2474
ta    2271
te    1290
th    3518
tr    3231
vi    4272
xx    2787
zh    2515
Name: revenue, dtype: int64

In [117]:
df.iloc[df.groupby('original_language')['revenue'].idxmax()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3936,3000000,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",http://www.tsotsimovie.com/,868,"[{""id"": 100, ""name"": ""slum""}, {""id"": 1009, ""na...",af,Tsotsi,The South African multi-award winning film abo...,2.504169,"[{""name"": ""Movieworld Productions"", ""id"": 563}...","[{""iso_3166_1"": ""ZA"", ""name"": ""South Africa""}]",2005-08-18,9879971,94.0,"[{""iso_639_1"": ""af"", ""name"": ""Afrikaans""}, {""i...",Released,In this world... Redemption comes just once.,Tsotsi,6.9,94
4164,0,"[{""id"": 99, ""name"": ""Documentary""}, {""id"": 18,...",http://www.thesquarefilm.com/,159037,"[{""id"": 187056, ""name"": ""woman director""}]",ar,The Square,"The Square, a new film by Jehane Noujaim (Cont...",4.892203,"[{""name"": ""Roast Beef Productions"", ""id"": 7266...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2013-06-07,0,88.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,What does it mean to risk your life for your i...,The Square,7.8,55
1357,36000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",NaN,365222,"[{""id"": 5565, ""name"": ""biography""}]",cn,葉問3,When a band of brutal gangsters led by a crook...,19.167377,"[{""name"": ""Mandarin Films Distribution Co."", ""...","[{""iso_3166_1"": ""HK"", ""name"": ""Hong Kong""}]",2015-12-19,156844753,105.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,NaN,Ip Man 3,6.5,379
2906,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",https://www.facebook.com/eastsidestorymovie,357837,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 271, ""...",cs,Dancin' It's On,"This coming of age Dance Film, in the spirit o...",0.186234,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-10-16,0,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Post Production,Dancin' Like You've Never Seen Before,Dancin' It's On,4.3,2
4586,35000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,9029,"[{""id"": 585, ""name"": ""casino""}, {""id"": 612, ""n...",da,What Happens in Vegas,"During a wild vacation in Las Vegas, career wo...",38.100488,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-05-07,170000000,99.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Get Lucky,What Happens in Vegas,5.8,923
2724,18339750,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",http://www.downfallthefilm.com/,613,"[{""id"": 220, ""name"": ""berlin""}, {""id"": 351, ""n...",de,Der Untergang,"In April of 1945, Germany stands at the brink ...",32.445895,"[{""name"": ""Degeto Film"", ""id"": 986}, {""name"": ...","[{""iso_3166_1"": ""AT"", ""name"": ""Austria""}, {""is...",2004-09-08,92180910,156.0,"[{""iso_639_1"": ""hu"", ""name"": ""Magyar""}, {""iso_...",Released,"April 1945, a nation awaits its...Downfall",Downfall,7.7,1037
4605,0,"[{""id"": 18, ""name"": ""Drama""}]",http://www.dogtooth.gr/,38810,"[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...",el,Κυνόδοντας,Three teenagers are confined to an isolated co...,28.858238,"[{""name"": ""Greek Film Center"", ""id"": 7254}, {""...","[{""iso_3166_1"": ""GR"", ""name"": ""Greece""}]",2009-06-01,110197,94.0,"[{""iso_639_1"": ""el"", ""name"": ""\u03b5\u03bb\u03...",Released,The cat is the most feared animal there is!,Dogtooth,6.9,332
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
3562,5500000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,211954,"[{""id"": 1338, ""name"": ""bachelor""}, {""id"": 1554...",es,No se Aceptan Devoluciones,"Valentin is Acapulco's resident playboy, until...",9.597290,"[{""name"": ""Filmax"", ""id"": 3631}, {""name"": ""Sig...","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}]",2013-07-20,99067206,115.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,Life doesn't care if you're ready.,Instructions Not Included,7.5,205
4695,180000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.miramax.com/movie/children-of-heaven/,21334,"[{""id"": 1155, ""name"": ""brother sister relation...",fa,بچه‌های آسمان,Zohre's shoes are gone; her older brother Ali ...,7.072118,"[{""name"": ""The Institute for the Intellectual ...","[{""iso_3166_1"": ""IR"", ""name"": ""Iran""}]",1997-08-01,900000,89.0,"[{""iso_639_1"": ""fa"", ""name"": ""\u0641\u0627\u06...",Released,A Little Secret...Their Biggest Adventure!,Children of Heaven,7.8,112
1260,10000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.die-fabelhafte-welt-der-amelie.de,194,"[{""id"": 90, ""name"": ""paris""}, {""id"": 128, ""nam...",fr,Le fabuleux destin d'Amélie Poulain,"At a tiny Parisian café, the adorable yet pain...",73.720244,"[{""name"": ""France 3 Cin\u00e9ma"", ""id"": 591}, ...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",2001-04-25,173921954,122.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,One person can change your life forever.,Amélie,7.8,3310
4104,2000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 16, ""name...",http://waltzwithbashir.com,8885,"[{""id"": 536, ""name"": ""israel""}, {""id"": 537, ""n...",he,Vals Im Bashir,"Much awarded animated documentary, in which di...",14.082510,"[{""name"": ""Les Films d'Ici"", ""id"": 1848}, {""na...","[{""iso_3166_1"": ""IL"", ""name"": ""Israel""}, {""iso...",2008-06-25,11125849,90.0,"[{""iso_639_1"": ""he"", ""name"": ""\u05e2\u05b4\u05...",Released,NaN,Waltz with Bashir,7.8,291
3228,7700000,"[{""id"": 10749, ""name"": ""Romance""}]",http://www.facebook.com/YehJawaaniHaiDeewani,185008,[],hi,Yeh Jawaani Hai Deewani,Yeh Jawaani Hai Deewani features two polar opp...,3.353176,"[{""name"": ""Dharma Productions"", ""id"": 19146}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2013-05-31,46000000,159.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Yeh Jawaani Hai Deewani,7.2,79
2894,0,"[{""id"": 10752, ""name"": ""War""}, {""id"": 18, ""nam...",NaN,41508,"[{""id"": 810, ""name"": ""budapest""}, {""id"": 1244,...",hu,Sorstalanság,An Hungarian youth comes of age at Buchenwald ...,1.906807,[],"[{""iso_3166_1"": ""HU"", ""name"": ""Hungary""}, {""is...",2005-02-10,0,140.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,You can close your eyes. You can turn away. Bu...,Fateless,6.5,28
4326,1100000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://www.sonyclassics.com/theraid/,94329,"[{""id"": 9730, ""name"": ""crime boss""}, {""id"": 14...",id,Serbuan maut,Deep in the heart of Jakarta's slums lies an i...,40.285095,"[{""name"": ""Celluloid Dreams"", ""id"": 860}, {""na...","[{""iso_3166_1"": ""ID"", ""name"": ""Indonesia""}, {""...",2011-09-08,4105187,101.0,"[{""iso_639_1"": ""id"", ""name"": ""Bahasa indonesia""}]",Released,"1 Ruthless Crime Lord, 20 Elite Cops, 30 Floor...",The Raid,7.3,1055
3131,10,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://hrosss.is/the-film/,217708,"[{""id"": 2673, ""name"": ""horse""}, {""id"": 3373, ""...",is,Hross í oss,A country romance about the human streak in th...,1.617943,"[{""name"": ""Filmhuset Gruppen"", ""id"": 68384}, {...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}, {""iso...",2013-08-30,11,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Of Horses and Men,6.9,26
4672,200000,"[{""id"": 37, ""name"": ""Western""}]",NaN,391,"[{""id"": 2987, ""name"": ""gang war""}, {""id"": 4942...",it,Per un pugno di dollari,The Man With No Name enters the Mexican villag...,38.771062,"[{""name"": ""United Artists"", ""id"": 60}, {""name""...","[{""iso_3166_1"": ""IT"", ""name"": ""Italy""}, {""iso_...",1964-09-12,14500000,99.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,"In his own way he is perhaps, the most dangero...",A Fistful of Dollars,7.6,883
2294,15000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://movies.disney.com/spirited-away,129,"[{""id"": 616, ""name"": ""witch""}, {""id"": 970, ""na...",ja,千と千尋の神隠し,A ten year old girl who wanders away from her ...,118.968562,"[{""name"": ""Studio Ghibli"", ""id"": 10342}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",2001-07-20,274925095,125.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,The tunnel led Chihiro to a mysterious town...,Spirited Away,8.3,3840
2877,11000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...",http://www.hostmovie.com/,1255,"[{""id"": 1261, ""name"": ""river""}, {""id"": 1880, ""...",ko,괴물,Gang-du is a dim-witted man working at his fat...,27.655270,"[{""name"": ""Cineclick Asia"", ""id"": 685}, {""name...","[{""iso_3166_1"": ""KR"", ""name"": ""South Korea""}]",2006-07-27,88489643,119.0,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Released,Monsters are real.,The Host,6.7,537
4275,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",NaN,295914,"[{""id"": 5565, ""name"": ""biography""}]",ky,Kurmanjan Datka. Queen of the Mountains,At a time when most females in Asia possess li...,0.077873,"[{""name"": ""Kirghizfilm"", ""id"": 40456}, {""name""...","[{""iso_3166_1"": ""KG"", ""name"": ""Kyrgyz Republic""}]",2014-08-22,0,135.0,"[{""iso_639_1"": ""ky"", ""name"": ""??????""}]",Released,NaN,Queen of the Mountains,0.0,0
3845,3500000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 27, ""na...",http://trolljegeren.no/,46146,"[{""id"": 414, ""name"": ""hunter""}, {""id"": 1262, ""...",nb,Trolljegeren,A group of students investigates a series of m...,12.982319,"[{""name"": ""Filmkameratene A/S"", ""id"": 1003}, {...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}]",2010-10-29,4159678,103.0,"[{""iso_639_1"": ""no"", ""name"": ""Norsk""}]",Released,You believe it when you see it!,Troll Hunter,6.7,583
2052,21000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",NaN,9075,"[{""id"": 930, ""name"": ""in love with enemy""}, {""...",nl,Zwartboek,In the Nazi-occupied Netherlands during World ...,13.906611,"[{""name"": ""CoBo Fund"", ""id"": 234}, {""name"": ""S...","[{""iso_3166_1"": ""NL"", ""name"": ""Netherlands""}, ...",2006-09-01,26193068,145.0,"[{""iso_639_1"": ""nl"", ""name"": ""Nederlands""}, {""...",Released,"To fight the enemy, she must become one of them.",Black Book,7.2,277
4464,800000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",http://www.deadsnow.com,14451,"[{""id"": 1191, ""name"": ""norway""}, {""id"": 10327,...",no,Død snø,Eight medical students on a ski trip to Norway...,11.205726,"[{""name"": ""Euforia Film"", ""id"": 3553}, {""name""...","[{""iso_3166_1"": ""NO"", ""name"": ""Norway""}]",2009-01-09,1984662,91.0,"[{""iso_639_1"": ""no"", ""name"": ""Norsk""}]",Released,"Eins, Zwei, Die!",Dead Snow,6.1,311
3999,2159280,"[{""id"": 18, ""name"": ""Drama""}]",NaN,209274,"[{""id"": 745, ""name"": ""nun""}, {""id"": 1960, ""nam...",pl,Ida,"Poland, 1962. Anna is a novice, an orphan brou...",13.265432,"[{""name"": ""Danish Film Institute"", ""id"": 125},...","[{""iso_3166_1"": ""DK"", ""name"": ""Denmark""}, {""is...",2013-10-25,10700000,80.0,"[{""iso_639_1"": ""pl"", ""name"": ""Polski""}]",Released,NaN,Ida,7.1,260
4523,46000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,14757,"[{""id"": 10183, ""name"": ""independent film""}]",ps,Osama,Teenage girl Osama cuts her hair and dresses l...,1.447734,"[{""name"": ""Hubert Bals Fund"", ""id"": 13413}, {""...","[{""iso_3166_1"": ""AF"", ""name"": ""Afghanistan""}, ...",2003-05-20,0,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,To save her family a girl must become a boy,Osama,6.3,32
3866,3300000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",http://cidadededeus.globo.com/,598,"[{""id"": 255, ""name"": ""male nudity""}, {""id"": 54...",pt,Cidade de Deus,Cidade de Deus is a shantytown that started du...,44.356711,"[{""name"": ""O2 Filmes"", ""id"": 345}, {""name"": ""V...","[{""iso_3166_1"": ""BR"", ""name"": ""Brazil""}, {""iso...",2002-02-05,30641770,130.0,"[{""iso_639_1"": ""pt"", ""name"": ""Portugu\u00eas""}]",Released,"If you run you're dead... if you stay, you're ...",City of God,8.1,1814
4434,852510,"[{""id"": 18, ""name"": ""Drama""}]",NaN,2009,"[{""id"": 570, ""name"": ""rape""}, {""id"": 922, ""nam...",ro,"4 luni, 3 săptămîni și 2 zile","Gabita is pregnant, abortion is strictly forbi...",9.270133,"[{""name"": ""Saga Film"", ""id"": 859}, {""name"": ""M...","[{""iso_3166_1"": ""BE"", ""name"": ""Belgium""}, {""is...",2007-08-24,1185783,113.0,"[{""iso_639_1"": ""ro"", ""name"": ""Rom\u00e2n\u0103""}]",Released,At what moment do we begin to live?,"4 Months, 3 Weeks and 2 Days",7.3,156
3733,4200000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",NaN,3040,"[{""id"": 616, ""name"": ""witch""}, {""id"": 1552, ""n...",ru,Ночной дозор,"Among normal humans live the ""Others"" possessi...",12.540624,"[{""name"": ""Bazelevs Production"", ""id"": 1038}, ...","[{""iso_3166_1"": ""RU"", ""name"": ""Russia""}]",2004-06-27,32000000,114.0,"[{""iso_639_1"": ""de"", ""name"": ""Deutsch""}, {""iso...",Released,All That Stands Between Light And Darkness Is ...,Night Watch,6.3,210
4510,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,385636,"[{""id"": 445, ""name"": ""pornography""}, {""id"": 57...",sl,Julija in Alfa Romeo,"Tilen (18), an attractive high school student,...",0.061248,"[{""name"": ""Perfo Production"", ""id"": 34679}, {""...","[{""iso_3166_1"": ""SI"", ""name"": ""Slovenia""}]",2015-09-17,0,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Juliet and Alfa Romeo,6.0,1
2474,25000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,13491,"[{""id"": 156321, ""name"": ""tv movie""}]",sv,Arn: Tempelriddaren,"Arn, the son of a high-ranking Swedish noblema...",6.091033,"[{""name"": ""Danmarks Radio (DR)"", ""id"": 119}, {...","[{""iso_3166_1"": ""SE"", ""name"": ""Sweden""}]",2007-12-17,0,139.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,A Knight in the Holy Land. A Woman in the Froz...,Arn: The Knight Templar,6.4,76
2271,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",NaN,280871,"[{""id"": 2303, ""name"": ""mathematician""}, {""id"":...",ta,ராமானுஜன்,A prodigious Indian mathematician has to overc...,0.416179,"[{""name"": ""Camphor Cinema"", ""id"": 82667}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2014-07-11,0,170.0,"[{""iso_639_1"": ""ta"", ""name"": ""\u0ba4\u0bae\u0b...",Released,NaN,Ramanujan,5.0,3
1290,40000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://baahubali.com/,256040,"[{""id"": 4152, ""name"": ""kingdom""}, {""id"": 6091,...",te,Baahubali: The Beginning,The young Shivudu is left as a foundling in a ...,16.254032,"[{""name"": ""Arka Media Works"", ""id"": 57946}]","[{""iso_3166_1"": ""IN"", ""name"": ""India""}]",2015-07-10,100000000,159.0,"[{""iso_639_1"": ""ml"", ""name"": """"}, {""iso_639_1""...",Released,NaN,Baahubali: The Beginning,7.5,135
3518,6000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,8982,"[{""id"": 188, ""name"": ""buddhism""}, {""id"": 2857,...",th,ต้มยำกุ้ง,"In Bangkok, the young Kham was raised by his f...",11.818320,"[{""name"": ""The Weinstein Company"", ""id"": 308},...","[{""iso_3166_1"": ""TH"", ""name"": ""Thailand""}, {""i...",2005-08-11,27165581,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Vengeance Knows No Mercy,The Protector,6.8,167
3231,10000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,11818,"[{""id"": 2051, ""name"": ""intelligence""}, {""id"": ...",tr,Kurtlar vadisi - Irak,The movie opens with a fictionalized depiction...,1.465762,"[{""name"": ""Pana Film"", ""id"": 58135}]","[{""iso_3166_1"": ""TR"", ""name"": ""Turkey""}]",2006-02-03,0,122.0,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,Some Men Are Born to be Heroes,Valley of the Wolves: Iraq,4.3,7
4272,1300000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.journeyfromthefall.com/home.aspx,25784,"[{""id"": 2956, ""name"": ""vietnam""}, {""id"": 10183...",vi,Vượt Sóng,Thirteen years after the end of the Vietnam Wa...,0.072066,[],[],2006-02-22,639000,135.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Journey from the Fall,5.0,1
2787,12000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,62204,"[{""id"": 4428, ""name"": ""stone age""}, {""id"": 159...",xx,La Guerre du feu,A colossal adventure odyssey that turns back t...,6.537986,"[{""name"": ""Belstar Productions"", ""id"": 999}, {...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",1981-12-15,55260558,100.0,"[{""iso_639_1"": ""xx"", ""name"": ""No Language""}]",Released,NaN,Quest for Fire,7.1,109
2515,17000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,146,"[{""id"": 334, ""name"": ""flying""}, {""id"": 779, ""n...",zh,卧虎藏龙,Two warriors in pursuit of a stolen sword and ...,45.742254,"[{""name"": ""Sony Pictures Classics"", ""id"": 58},...","[{""iso_3166_1"": ""CN"", ""name"": ""China""}, {""iso_...",2000-10-01,213525736,120.0,"[{""iso_639_1"": ""zh"", ""name"": ""\u666e\u901a\u8b...",Released,"A timeless story of strength, secrets and two ...","Crouching Tiger, Hidden Dragon",7.2,927

## 表結合

In [118]:
df1 = pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                    'A': ['a0', 'a1', 'a2'],
                    'B': ['b0', 'b1', 'b2'],})
df2 = pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                    'C': ['c0', 'c1', 'c2'],
                    'D': ['d0', 'd1', 'd2'],})

In [119]:
df1

  key   A   B
0  k0  a0  b0
1  k1  a1  b1
2  k2  a2  b2

In [120]:
df2

  key   C   D
0  k0  c0  d0
1  k1  c1  d1
2  k2  c2  d2

### pd.concat()

In [121]:
pd.concat([df1, df2])

  key    A    B    C    D
0  k0   a0   b0  NaN  NaN
1  k1   a1   b1  NaN  NaN
2  k2   a2   b2  NaN  NaN
0  k0  NaN  NaN   c0   d0
1  k1  NaN  NaN   c1   d1
2  k2  NaN  NaN   c2   d2

In [123]:
# あまりユースケースがないが横にも繋げられる
pd.concat([df1, df2], axis=1)

  key   A   B key   C   D
0  k0  a0  b0  k0  c0  d0
1  k1  a1  b1  k1  c1  d1
2  k2  a2  b2  k2  c2  d2

### .merge()

In [124]:
df1.merge(df2)

  key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1
2  k2  a2  b2  c2  d2

In [129]:
df1 = pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                    'A': ['a0', 'a1', 'a2'],
                    'B': ['b0', 'b1', 'b2'],})
df2 = pd.DataFrame({'key': ['k0', 'k1', 'kc'],
                    'C': ['c0', 'c1', 'c3'],
                    'D': ['d0', 'd1', 'd3'],})

In [132]:
#　それぞれのデータフレームを結合できるところだけを残す
df1.merge(df2, how='inner', on='key')

  key   A   B   C   D
0  k0  a0  b0  c0  d0
1  k1  a1  b1  c1  d1

In [135]:
#　それぞれのデータフレームを結合できないものも全て表示する
df1.merge(df2, how='outer', on='key')

  key    A    B    C    D
0  k0   a0   b0   c0   d0
1  k1   a1   b1   c1   d1
2  k2   a2   b2  NaN  NaN
3  kc  NaN  NaN   c3   d3

In [136]:
#　それぞれのデータフレームの左側だけ結合できないものも全て表示する
df1.merge(df2, how='left', on='key')

  key   A   B    C    D
0  k0  a0  b0   c0   d0
1  k1  a1  b1   c1   d1
2  k2  a2  b2  NaN  NaN

In [148]:
df1 = pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                    'ID': ['aa', 'bb', 'cc'],
                    'A': ['a0', 'a1', 'a2'],
                    'B': ['b0', 'b1', 'b2'],})
df2 = pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                    'ID': ['aa', 'bb', 'cc'],
                    'C': ['c0', 'c1', 'c2'],
                    'D': ['d0', 'd1', 'd2'],})

In [151]:
df1.merge(df2, on='key')

  key ID_x   A   B ID_y   C   D
0  k0   aa  a0  b0   aa  c0  d0
1  k1   bb  a1  b1   bb  c1  d1
2  k2   cc  a2  b2   cc  c2  d2

In [152]:
df1.merge(df2, on='key', suffixes=('_right', '_left'))

  key ID_right   A   B ID_left   C   D
0  k0       aa  a0  b0      aa  c0  d0
1  k1       bb  a1  b1      bb  c1  d1
2  k2       cc  a2  b2      cc  c2  d2

In [159]:
df1 = pd.DataFrame({'key1': ['k0', 'k1', 'k2'],
                    'A': ['a0', 'a1', 'a2'],
                    'B': ['b0', 'b1', 'b2'],})
df2 = pd.DataFrame({'key2': ['k0', 'k1', 'k2'],
                    'C': ['c0', 'c1', 'c2'],
                    'D': ['d0', 'd1', 'd2'],})

In [161]:
# 左側でキーにしたいカラム、右側でキーにしたいカラムを指定する
df1.merge(df2, left_on='key1', right_on='key2')

  key1   A   B key2   C   D
0   k0  a0  b0   k0  c0  d0
1   k1  a1  b1   k1  c1  d1
2   k2  a2  b2   k2  c2  d2

In [162]:
# indexで結合する
df1.merge(df2, left_index=True, right_index=True)

  key1   A   B key2   C   D
0   k0  a0  b0   k0  c0  d0
1   k1  a1  b1   k1  c1  d1
2   k2  a2  b2   k2  c2  d2

In [163]:
df_movies = pd.read_csv('dataset/tmdb_5000_movies.csv')
df_credits = pd.read_csv('dataset/tmdb_5000_credits.csv')
df_movies.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [164]:
df_credits.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [167]:
df = df_movies.merge(df_credits,
                left_on='id',
                right_on='movie_id',
                suffixes=('_movies', '_credits'))
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_movies,vote_average,vote_count,movie_id,title_credits,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [171]:
# 結合されなかったレコードはないか数で確認
len(df)

4803

In [169]:
len(df_movies)

4803

In [170]:
len(df_credits)

4803

### .join()

In [174]:
df1 = pd.DataFrame({'key1': ['k0', 'k1', 'k2'],
                    'A': ['a0', 'a1', 'a2'],
                    'B': ['b0', 'b1', 'b2'],})
df2 = pd.DataFrame({'key2': ['k0', 'k1', 'k3'],
                    'C': ['c0', 'c1', 'c3'],
                    'D': ['d0', 'd1', 'd3'],})
df3 = pd.DataFrame({'key3': ['k0', 'k1', 'k4'],
                    'E': ['c0', 'c1', 'c3'],
                    'F': ['d0', 'd1', 'd3'],})

In [175]:
df1.join([df2, df3])

  key1   A   B key2   C   D key3   E   F
0   k0  a0  b0   k0  c0  d0   k0  c0  d0
1   k1  a1  b1   k1  c1  d1   k1  c1  d1
2   k2  a2  b2   k3  c3  d3   k4  c3  d3

## DataFrameとSeriesの便利関
### .unique()とnunique()

In [177]:
df_movies['original_language'].unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [179]:
# ユニークの数
df_movies['original_language'].nunique()

37

In [181]:
# 表結合の前にはIDが本当にユニークか確認する
df_movies['id'].nunique()

4803

In [182]:
len(df_movies)

4803

### .value_counts()

In [184]:
df_movies['original_language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ko      11
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
ar       2
id       2
el       1
ky       1
te       1
xx       1
ps       1
hu       1
pl       1
vi       1
tr       1
sl       1
no       1
is       1
nb       1
af       1
Name: original_language, dtype: int64

### .sort_values()

In [188]:
# 指定したカラムの昇順（デフォルト）
df_movies.sort_values('budget')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2401,0,"[{""id"": 53, ""name"": ""Thriller""}]",NaN,31932,[],en,City of Ghosts,A con man (Dillon) travels to Cambodia (also o...,2.644860,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2002-01-01,0,116.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,City of Ghosts,5.4,18
3187,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10402, ""...",NaN,12621,"[{""id"": 2176, ""name"": ""music teacher""}, {""id"":...",en,Hamlet 2,"From the same people that brought you ""Little ...",5.293363,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-01-21,0,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,One high school drama teacher is about to make...,Hamlet 2,6.1,56
3183,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",NaN,14624,"[{""id"": 1158, ""name"": ""grandfather grandson re...",en,The Ultimate Gift,"When his wealthy grandfather finally dies, Jas...",4.976268,"[{""name"": ""The Ultimate Gift LLC"", ""id"": 3914}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-10-20,0,114.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}, ...",Released,NaN,The Ultimate Gift,6.8,78
3179,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,24621,"[{""id"": 187056, ""name"": ""woman director""}]",en,Chasing Papi,Playboy Thomas Fuentes has so far been able to...,1.118511,"[{""name"": ""Fox 2000 Pictures"", ""id"": 711}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-04-16,6126237,80.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Three women. Three cities. Three times the tro...,Chasing Papi,6.3,16
3178,0,"[{""id"": 18, ""name"": ""Drama""}]",http://www.foxsearchlight.com/thesavages,8272,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Savages,A sister and brother face the realities of fam...,5.663889,"[{""name"": ""Fox Searchlight Pictures"", ""id"": 43...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-01-19,0,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Savages,6.8,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948

In [189]:
df_movies.sort_values('budget', ascending=False)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
17,380000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,"[{""id"": 658, ""name"": ""sea""}, {""id"": 1316, ""nam...",en,Pirates of the Caribbean: On Stranger Tides,Captain Jack Sparrow crosses paths with a woma...,135.413856,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2011-05-14,1045713802,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,6.4,4948
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
10,270000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Superman Returns,Superman returns to discover his 5-year absenc...,57.925623,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-06-28,391081192,154.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Superman Returns,5.4,1400
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3465,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,11191,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,Mystic Pizza,Three teenage girls come of age while working ...,6.379933,"[{""name"": ""Night Light Films"", ""id"": 3344}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1988-10-13,0,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,A Romantic Comedy With The Works,Mystic Pizza,5.9,123
3461,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,36739,"[{""id"": 4344, ""name"": ""musical""}]",en,School Daze,In the South of the United States are taking p...,3.159574,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1988-02-12,0,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,School Daze,6.2,26
3459,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,13785,"[{""id"": 1245, ""name"": ""illinois""}, {""id"": 2589...",en,Best in Show,"The tension is palpable, the excitement is mou...",10.982255,"[{""name"": ""Castle Rock Entertainment"", ""id"": 97}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2000-09-19,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some pets deserve a little more respect than o...,Best in Show,6.7,166
3452,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,20322,"[{""id"": 10183, ""name"": ""independent film""}, {""...",en,The Brothers,"This is the story of four African-American ""yu...",3.029944,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2001-03-23,0,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Brothers,6.5,10
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

## DataDrameのIteration
### apply()
関数を各行に適用(apply）する

In [191]:
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [192]:
# revenue - budget
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [193]:
# 基本的な使い方。
# 例えば以下のような関数を作成する
# return_nan_if_zero(0) -- > nan
# return_nan_if_zero(10000) --> 10000
def return_nan_if_zero(budget):
    if budget == 0:
        return np.nan
    else:
        return budget
return_nan_if_zero(0)

nan

In [194]:
df['budget'].apply(return_nan_if_zero)

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [196]:
df['budget'] = df['budget'].apply(return_nan_if_zero)

In [198]:
df['budget']

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [201]:
# Lambda関数を使うのが一般的
# まずはif文を1行に書いてみる
budget = 0
np.nan if budget == 0 else budget

nan

In [205]:
# Lambda関数にしてみる
x = lambda budget: np.nan if budget == 0 else budget

In [206]:
x(budget)

nan

In [220]:
# 使ってみる
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [243]:
df['budget'] = df['budget'].apply(lambda x: np.nan if x == 0 else x)
df['revenue'] = df['revenue'].apply(lambda x: np.nan if x == 0 else x)

In [222]:
df['budget']

0       237000000.0
1       300000000.0
2       245000000.0
3       250000000.0
4       260000000.0
           ...
4798       220000.0
4799         9000.0
4800            NaN
4801            NaN
4802            NaN
Name: budget, Length: 4803, dtype: float64

In [224]:
df['revenue']

0       2.787965e+09
1       9.610000e+08
2       8.806746e+08
3       1.084939e+09
4       2.841391e+08
            ...
4798    2.040920e+06
4799             NaN
4800             NaN
4801             NaN
4802             NaN
Name: revenue, Length: 4803, dtype: float64

In [225]:
# budgetとrevenueがNaNのものをドロップする
df = df.dropna(subset=['budget', 'revenue'])
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,9.610000e+08,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,8.806746e+08,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1.084939e+09,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,2.841391e+08,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000.0,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1994-09-13,3.151130e+06,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755
4788,12000.0,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1972-03-12,6.000000e+06,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,An exercise in poor taste.,Pink Flamingos,6.2,110
4792,20000.0,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]","[{""iso_3166_1"": ""JP"", ""name"": ""Japan""}]",1997-11-06,9.900000e+04,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63
4796,7000.0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,4.247600e+05,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4798,220000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2.040920e+06,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238

In [226]:
# profit = revenue - budget
df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [227]:
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.550965e+09
1,300000000.0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,9.610000e+08,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,6.610000e+08
2,245000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,8.806746e+08,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,6.356746e+08
3,250000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1.084939e+09,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,8.349391e+08
4,260000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,2.841391e+08,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,2.413910e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4773,27000.0,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.miramax.com/movie/clerks/,2292,"[{""id"": 1361, ""name"": ""salesclerk""}, {""id"": 30...",en,Clerks,Convenience and video store clerks Dante and R...,19.748658,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,1994-09-13,3.151130e+06,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Just because they serve you doesn't mean they ...,Clerks,7.4,755,3.124130e+06
4788,12000.0,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",NaN,692,"[{""id"": 237, ""name"": ""gay""}, {""id"": 900, ""name...",en,Pink Flamingos,Notorious Baltimore criminal and underground f...,4.553644,"[{""name"": ""Dreamland Productions"", ""id"": 407}]",...,1972-03-12,6.000000e+06,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,An exercise in poor taste.,Pink Flamingos,6.2,110,5.988000e+06
4792,20000.0,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 27, ""name...",NaN,36095,"[{""id"": 233, ""name"": ""japan""}, {""id"": 549, ""na...",ja,キュア,A wave of gruesome murders is sweeping Tokyo. ...,0.212443,"[{""name"": ""Daiei Studios"", ""id"": 881}]",...,1997-11-06,9.900000e+04,111.0,"[{""iso_639_1"": ""ja"", ""name"": ""\u65e5\u672c\u8a...",Released,Madness. Terror. Murder.,Cure,7.4,63,7.900000e+04
4796,7000.0,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]",...,2004-10-08,4.247600e+05,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658,4.177600e+05
4798,220000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,1992-09-04,2.040920e+06,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,1.820920e+06

In [228]:
# profitが最大のものを取得したい（maxの値ではなくprofitがmaxのデータを取得
df.iloc[df['profit'].idxmax()]

budget                                                           2.37e+08
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                       2.78797e+09
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
profit                                                        2.55097e+09
Name: 0, dtype: object

In [229]:
# こちらの方がシンプル
df[df['profit'] == df['profit'].max()]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2.550965e+09

### .iterrows()

In [232]:
next(df.iterrows())

(0,
 budget                                                           2.37e+08
 genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
 homepage                                      http://www.avatarmovie.com/
 id                                                                  19995
 keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
 original_language                                                      en
 original_title                                                     Avatar
 overview                In the 22nd century, a paraplegic Marine is di...
 popularity                                                        150.438
 production_companies    [{"name": "Ingenious Film Partners", "id": 289...
 production_countries    [{"iso_3166_1": "US", "name": "United States o...
 release_date                                                   2009-12-10
 revenue                                                       2.78797e+09
 runtime                                                               162
 spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
 status                                                           Released
 tagline                                       Enter the World of Pandora.
 title                                                              Avatar
 vote_average                                                          7.2
 vote_count                                                          11800
 profit                                                        2.55097e+09
 Name: 0, dtype: object)

In [233]:
type(next(df.iterrows()))

tuple

In [234]:
# 最初の要素と次の要素を取り出す
a, b = next(df.iterrows())

In [235]:
a

0

In [239]:
b

budget                                                           2.37e+08
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                        150.438
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                       2.78797e+09
runtime                                                               162
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
profit                                                        2.55097e+09
Name: 0, dtype: object

In [238]:
type(b)

pandas.core.series.Series

In [242]:
# 使う場面(idxは使わなければ_でもOK)
df = pd.read_csv('dataset/tmdb_5000_movies.csv')
for idx, row in df.iterrows():
    # rowのvote_averageが10だったらタイトル名を表示
    if row['vote_average'] == 10:
        print(row['title'])

Stiff Upper Lips
Dancer, Texas Pop. 81
Me You and Five Bucks
Little Big Top

## Pivot tableの作成
### .pivot_table()
データ処理の時にはあまり使わない。誰かに見せるときに使う

In [255]:
# ユーザの支払いトランザクションのテーブル
data = {
    'Date': ['Jan-1', 'Jan-1', 'Jan-1', 'Jan-2'],
    'User': ['Emily', 'John', 'Nick', 'Emily'],
    'Method': ['Card', 'Card', 'Cash', 'Cash'],
    'Price': [100, 100, 300, 200]
}
df = pd.DataFrame(data)
df

    Date   User Method  Price
0  Jan-1  Emily   Card    100
1  Jan-1   John   Card    100
2  Jan-1   Nick   Cash    300
3  Jan-2  Emily   Cash    200

In [258]:
pivot_df = df.pivot_table(values='Price', index=['Date', 'User'], columns=['Method'])
pivot_df

Method        Card   Cash
Date  User
Jan-1 Emily  100.0    NaN
      John   100.0    NaN
      Nick     NaN  300.0
Jan-2 Emily    NaN  200.0

In [259]:
pivot_df = df.pivot_table(values='Price', index=['Date', 'Method'], columns=['User'])
pivot_df

User          Emily   John   Nick
Date  Method
Jan-1 Card    100.0  100.0    NaN
      Cash      NaN    NaN  300.0
Jan-2 Cash    200.0    NaN    NaN

In [261]:
# クロスセクション（それぞれの行を跨いでとってくる）
pivot_df.xs('Cash', level='Method')

User   Emily  John   Nick
Date
Jan-1    NaN   NaN  300.0
Jan-2  200.0   NaN    NaN

## DataDrameの保存
### .to_csv()

In [263]:
# profit(revenue - budget)の高い順に並べた表を作成してみる（０のものを除く）

In [269]:
# 1. csvの読み込み
df = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [270]:
# 2. budgetやrevenueが0のものをfilter out
df = df[~(df['budget'] == 0) | (df['revenue'] == 0)]

In [273]:
# 3. profitというカラムを作成
df['profit'] = df.apply(lambda row: row['revenue'] - row['budget'], axis=1)

In [276]:
# 4. profitでsortする
df = df.sort_values('profit', ascending=False)

In [277]:
# 5.　保存
df.to_csv('dataset/tmdb_5000_movies_profit_sorted.csv')

In [278]:
update_df = pd.read_csv('dataset/tmdb_5000_movies_profit_sorted.csv')
update_df

,Unnamed: 0,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2550965087
1,25,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,...,1997-11-18,1845034188,194.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Nothing on Earth could come between them.,Titanic,7.5,7562,1645034188
2,28,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,...,2015-06-09,1513528810,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1363528810
3,44,190000000,"[{""id"": 28, ""name"": ""Action""}]",http://www.furious7.com/,168259,"[{""id"": 830, ""name"": ""car race""}, {""id"": 3428,...",en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,102.322217,...,2015-04-01,1506249360,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Vengeance Hits Home,Furious 7,7.3,4176,1316249360
4,16,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,...,2012-04-25,1519557910,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776,1299557910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4651,1652,100000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,14164,"[{""id"": 3436, ""name"": ""karate""}, {""id"": 9715, ...",en,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,21.677732,...,2009-04-01,0,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The legend comes to life.,Dragonball Evolution,2.9,462,-100000000
4652,141,150000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",http://disney.go.com/disneypictures/marsneedsm...,50321,"[{""id"": 5202, ""name"": ""boy""}, {""id"": 9951, ""na...",en,Mars Needs Moms,"When Martians suddenly abduct his mom, mischie...",12.362599,...,2011-03-09,38992758,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mom needs a little space.,Mars Needs Moms,5.5,199,-111007242
4653,338,145000000,"[{""id"": 37, ""name"": ""Western""}, {""id"": 36, ""na...",NaN,10733,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 3776, ""...",en,The Alamo,Based on the 1836 standoff between a group of ...,10.660441,...,2004-04-07,25819961,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,You will never forget,The Alamo,5.8,106,-119180039
4654,135,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,...,2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549,-150000000
4655,13,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,...,2013-07-03,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,-165710090

In [279]:
# Unnamedという余計なカラムがある（もとのデータのインデックス）
# 消したい場合はindexを指定。基本的には指定する
df.to_csv('dataset/tmdb_5000_movies_profit_sorted.csv', index=False)
update_df = pd.read_csv('dataset/tmdb_5000_movies_profit_sorted.csv')
update_df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,profit
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2550965087
1,200000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,"[{""id"": 2580, ""name"": ""shipwreck""}, {""id"": 298...",en,Titanic,"84 years later, a 101-year-old woman named Ros...",100.025899,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,1997-11-18,1845034188,194.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Nothing on Earth could come between them.,Titanic,7.5,7562,1645034188
2,150000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,"[{""id"": 1299, ""name"": ""monster""}, {""id"": 1718,...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"", ""id"": 13}, {""na...",...,2015-06-09,1513528810,124.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1363528810
3,190000000,"[{""id"": 28, ""name"": ""Action""}]",http://www.furious7.com/,168259,"[{""id"": 830, ""name"": ""car race""}, {""id"": 3428,...",en,Furious 7,Deckard Shaw seeks revenge against Dominic Tor...,102.322217,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,2015-04-01,1506249360,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Vengeance Hits Home,Furious 7,7.3,4176,1316249360
4,220000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",en,The Avengers,When an unexpected enemy emerges and threatens...,144.448633,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,2012-04-25,1519557910,143.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some assembly required.,The Avengers,7.4,11776,1299557910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4651,100000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,14164,"[{""id"": 3436, ""name"": ""karate""}, {""id"": 9715, ...",en,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,21.677732,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-04-01,0,85.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The legend comes to life.,Dragonball Evolution,2.9,462,-100000000
4652,150000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 16, ""...",http://disney.go.com/disneypictures/marsneedsm...,50321,"[{""id"": 5202, ""name"": ""boy""}, {""id"": 9951, ""na...",en,Mars Needs Moms,"When Martians suddenly abduct his mom, mischie...",12.362599,"[{""name"": ""Walt Disney Animation Studios"", ""id...",...,2011-03-09,38992758,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mom needs a little space.,Mars Needs Moms,5.5,199,-111007242
4653,145000000,"[{""id"": 37, ""name"": ""Western""}, {""id"": 36, ""na...",NaN,10733,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 3776, ""...",en,The Alamo,Based on the 1836 standoff between a group of ...,10.660441,"[{""name"": ""Imagine Entertainment"", ""id"": 23}, ...",...,2004-04-07,25819961,137.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,You will never forget,The Alamo,5.8,106,-119180039
4654,150000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",http://www.thewolfmanmovie.com/,7978,"[{""id"": 494, ""name"": ""father son relationship""...",en,The Wolfman,"Lawrence Talbot, an American man on a visit to...",21.214571,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,2010-02-11,0,102.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,When the moon is full the legend comes to life,The Wolfman,5.5,549,-150000000
4655,255000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,"[{""id"": 1556, ""name"": ""texas""}, {""id"": 2673, ""...",en,The Lone Ranger,The Texas Rangers chase down a gang of outlaws...,49.046956,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2013-07-03,89289910,149.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Take Off the Mask,The Lone Ranger,5.9,2311,-165710090